{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Select discharge status.{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Please identify patients who believe are physiologically fit for discharge, regardless of time of day or bed availability. Click to select discharge status from the dropdown menus for these patients.</p>
  <p>When you have finished click 'submit'.</p>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.css"/> 
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/rr-1.2.4/sl-1.2.6/datatables.min.js"></script>
  <script>  
  $(document).ready(function() {
    var table = $('#example').DataTable({
        "paging":   false,
        "info":     false,
        "searching":   false,
        "order": [[ 1, "asc" ]],
        //select   : {style: 'multi'},
         columnDefs: [{
            targets: [1,2,3],
            className: 'dt-center'
            },
            {
            targets: [0],
            className: 'dt-left'
            },
            {orderable: false,
            targets: [0,1,2,3,]
            }],
        });
    
    function setInputValue(input_id, val) {
        document.getElementById(input_id).setAttribute('value', val);
        }    
        $(function(){
    
        // add inputs to form based on which patients are present
        var data = table.rows().data();
        data.each(function (value, index) {
            $('<input>').attr({
            type: 'hidden',
            id: `${value[0]}`,
            name: `${value[0]}`,
            value: 'Not ready for discharge'}).appendTo('#nrfd_form');
         });  
    });
    
    $( ".target" ).change(function() {
      var row = $( this ).closest('tr')

      $(this).removeClass('active');
      if ($(this).val()!="Not ready for discharge"){
          $(this).addClass('active');
          }
    var pname = $(row).find("td:nth-child(1)").html();
    setInputValue(pname, $(this).val());
    });

//    $('#example tbody').on( 'click', 'td', function () {
//        alert('Click')
//    });
    // To track clicks...    
    //$('#example tbody').on( 'click', 'tr', function () {
    //    alert('Click')
    //    $(this).toggleClass('selected');
    //    $(this).find("td").each(function(i) {
    //        //toggle between adding/removing the 'active' class
    //        $(this).toggleClass('active');
    //      });
    //    var pname = $(this).find("td:nth-child(1)").html();
    //    if ($(this).hasClass('selected')){
    //        setInputValue(pname, 'selected');
    //     }
    //     else{
    //         setInputValue(pname, 'unselected');
    //     }
    //    } );
            
    // add inputs to form based on which patients are present
    //var data = table.rows().data();
    //data.each(function (value, index) {
    //    $('<input>').attr({
    //    type: 'hidden',
    //    id: `${value[0]}`,
    //    name: `${value[0]}`,
    //    value: 'unselected'}).appendTo('#nrfd_form');
    // });  
    //});
    // To track selected patients (whole row clicks).    
    //$('#example tbody').on( 'click', 'tr', function () {
    //    $(this).toggleClass('selected');
    //    $(this).find("td").each(function(i) {
    //        //toggle between adding/removing the 'active' class
    //        $(this).toggleClass('active');
    //      });
    //    var pname = $(this).find("td:nth-child(1)").html();
    //    if ($(this).hasClass('selected')){
    //        setInputValue(pname, 'selected');
    //     }
    //     else{
    //         setInputValue(pname, 'unselected');
    //     }
    //    } );

     
  });
  // <?-- <button type="button" id="testButton">Count selected..</button> >
  </script>
  
  <table id="example" class="table display" style="width:100%">
    <thead>
        <tr>
            {% for c in columns %}
                <th scope="col">{{c}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for k,v in table_data.items() %}
            <tr>
                <td>{{v.Name}}</td>
                <td>{{v.Bed}}</td>
                {#<td>{{v.T_number}}</td>#}
                {#<td>{{v.Age}}</td>#}
                <td>{{v.Admission}}</td>
                <td><select class="target" size="1" id="discharge_status" name="discharge_status">
                    <option value="Not ready for discharge" selected="selected">
                        Not ready for discharge
                    </option>
                    <option value="Maybe ready for discharge">
                        Maybe ready for discharge
                    </option>
                    <option value="High care (A525, CCU)">
                        High care (A525, CCU)
                    </option>
                    <option value="Ward">
                        Ward
                    </option>
                    <option value="Ward (renal)">
                        Ward (renal)
                    </option>
                    <option value="Recovery">
                        Recovery
                    </option>
                    <option value="External transfer (critical care)">
                        External transfer (critical care)
                    </option>
                    <option value="External transfer (other)">
                        External transfer (other)
                    </option>
                    <option value="Palliative">
                        Palliative
                    </option>
                    <option value="Home">
                        Home
                    </option>
                </select></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
  <form action="/submit_table1", method="post", id="nrfd_form">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
