{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <span><small>(Hint: use your initials or standard acronym so it is easy to remember.)</small></span>
    <input name="username" id="username" required>
    {# Removing password for speed as security not an issue during experiement.#}
    {#<label for="password">Password</label>#}
    {#<input type="password" name="password" id="password" required>#}
    
    <p>What is your job role?</p> 
    <select name="job_title" id="job_title">
    <option value="nurse">Nurse</option>
    <option value="trainee">Trainee</option>
    <option value="consultant">Consultant</option>
    <option value="student">Student</option>
    <option value="other">Other</option>
    </select>
    
    <p>How many years of experience do you have working in intensive care?</p> 
    <select name="years_experience" id="years_experience">
    <option value="<1">Less than 1 year.</option>
    <option value="1-5">1 to 5 years.</option>
    <option value="6-10">6 to 10 years.</option>
    <option value=">10">More than 10 years.</option>
    </select>
    <br></br>
    <input type="submit" value="Register">
  </form>
{% endblock %}
